@using CardGame_iStone.Models
@model Deck
@{
    ViewBag.Title = "Home Page";

    if (ViewData["Feilmelding"] != null && Model == null)
    {
        var feilmelding = (string)ViewData["Feilmelding"];
    }

    //var jsonModel = Html.Raw(Json.Encode(Model));
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/CardScript.js"></script>
<script type="text/javascript">
    var jsonModel = JSON.parse('@Html.Raw(Json.Encode(Model))');
</script>

<div class="jumbotron">
    <img alt="Playingcard" id="ci" src="/Content/0Front.png">
    <input type="button" onclick="NextCard(jsonModel)" value="Next Card" id="btn_next" />
    <input type="button" onclick="ShuffleCards(jsonModel)" value=" shuffle cards" id="btn_shuffle" />
    <input type="button" onclick="SortCards(jsonModel)" value="Sort Cards" id="btn_sort" />
</div>


